/*
apply a natural box layout model to all elements, but allowing components to change 
http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background:url(../images/small_steps.png);
  font-family: 'Oxygen', sans-serif;
  padding: 20px 5%;
}

/* This is a comment. Use dot before title (eg work-samples) to make the link.*/
.work-samples {
  background: rgba(255,255,255,.5);
}

.work-samples article {
  width: 100%;
  border: 1px solid red;
  margin: 20px 20px 0 0;
  float:left;
}
  /*
@media = command / talk to brower
    ask the browser if it is a minumum of 400px wide (at leat 400px, or more)
    only apply these styles if you're 400px or more
  */
  @media(min-width:450px){
    .work-samples article {
      width: 48%;
      border: 1px solid green;
      margin: 2% 2% 0 0;
    }
  }
  /*
    ask the browser if it is a minumum of 1000px wide (at leat 1000px, or more)
    only apply these styles if you're 1000px or more
  */
  @media(min-width:1000px){
    .work-samples article {
      width: 350px;
      border: 1px solid blue;
    }
  }

article img {
  max-width: 100%;
}



/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 *
 * Found at http://nicolasgallagher.com/micro-clearfix-hack/
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
